.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    gap: 50px;
  }
}
