.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}
