.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, max-content);
  grid-template-rows: max-content max-content;
  row-gap: 48px;
  column-gap: 40px;
  grid-auto-flow: dense;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px minmax(min-content, max-content);
    justify-content: center;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px minmax(min-content, max-content);
    justify-content: center;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
